.contact-page {
  padding: 7px;
  max-width: 800px;
  margin: 0 auto;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2rem;
  color: #333 !important;
  justify-content: center;
}

.faq-section {
  margin-top: 30px;
  padding: 15px;
  border-left: 4px solid #007BFF;
  background-color: #f0f0f0;
  border-radius: 8px;
  font-size: 1em;
}

/* Ajustar tamaño y color de los títulos */
.faq-title-q {
  text-align: left;
  font-size: 1.3rem; /* Ajuste de tamaño de los títulos */
  color: #333; /* Color negro o gris oscuro */
  font-weight: bold;
  margin-bottom: 15px;
}

.faq-title-q .line {
  display: block;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 2s steps(40) forwards;
  word-break: break-word;
}

.faq-title-q .line:nth-child(1) {
  animation-delay: 0s;
}

.faq-title-q .line:nth-child(2) {
  animation-delay: 2s;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.faq-content {
  text-align: justify;
  margin-bottom: 20px;
  color: #444;
}

.delete-button {
  background-color: #ec5f5c;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 0.9em;
}

.delete-button:hover {
  background-color: #b37039;
}

.message {
  margin-top: 10px;
  color: green;
  font-weight: bold;
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 425px) {
  .contact-title {
    font-size: 1.2rem; 
    margin-bottom: 20px;
    margin-top: 10px;
  }

  .faq-title-q {
    font-size: 0.7rem !important; /* Tamaño más pequeño en pantallas pequeñas */
    margin-bottom: 10px;
  }

  .faq-content {
    font-size: 0.7rem;
    margin-bottom: 10px;
    padding: 0 8px;
  }

  .delete-button {
    padding: 8px 12px;
    margin-left: 5px;
  }

  .faq-title-q .line {
    font-size: 0.8rem; /* Tamaño más pequeño para la animación en móviles */
    animation-duration: 3s;
  }
}
