# dependencies
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js

# testing
/frontend/coverage

# production
/frontend/build

# misc
/frontend/.DS_Store
frontend/.env
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

__pycache__/

# Ignorar la carpeta de modelo entrenado del backend
backend/app/ml/TallerPerritos.keras
# Ignorar archivos compilados de Python
backend/app/ml/__pycache__/
backend/app/routes/__pycache__/
backend/app/__pycache__

backend/app/credenciales/fotos-perritos-809194cdb9d7.json

*.pyc
__pycache__/


backend/.env