.perfil-user-container {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
    border-radius: 8px;
    background: linear-gradient(to right, #e5bf67, #de800c);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.perfil-user-details {
    line-height: 1.6;
    color: #333;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #c35847;
    font-size: 2rem;
    white-space: nowrap;
    overflow: hidden;
    border-right: 4px solid #c35847;
    width: fit-content;
    animation: typing 2s steps(30) 1s forwards, blink 0.75s step-end infinite, hideCursor 0s 2s forwards;
}


@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}
@keyframes hideCursor {
    0% {
        border-right: 4px solid #c35847;
    }
    100% {
        border-right: none;
    }
}

.perfil-user-details p {
    margin: 10px 0;
    color: #f4f4f4;
}

strong {
    color: #c35847;
}

a {
    color: #fff;
}

a:hover {
    text-decoration: underline;
    color: #c35847;
}

.perfil-user-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #c35847;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.header-user-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.reportar-usuario {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flag-report {
    color: rgba(131, 24, 24, 0.5);
}

.flag-report:hover {
    transform: scale(1.1);
    color: rgba(184, 38, 38, 0.5);
}
