.perrito-perdido-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: #fff8f0; /* Fondo suave, color crema claro */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: auto;
}

.perrito-perdido-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.perrito-perdido-form input, 
.perrito-perdido-form textarea, 
.perrito-perdido-form button,
.perrito-perdido-form select {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #d5a250; /* Borde color café claro */
  border-radius: 4px;
}

.perrito-perdido-form input,
.perrito-perdido-form textarea,
.perrito-perdido-form select {
  transition: border-color 0.3s; /* Suave transición de borde */
}

.perrito-perdido-form input:focus,
.perrito-perdido-form textarea:focus,
.perrito-perdido-form select:focus {
  border-color: #c47a2d; /* Borde naranja oscuro al enfocar */
}

.perrito-perdido-form button {
  background-color: #ff7f50; /* Color naranja para el botón */
  color: white;
  cursor: pointer;
  transition: background-color 0.3s; /* Suave transición de fondo */
}

.perrito-perdido-form button:hover {
  background-color: #ff6347; /* Naranja más oscuro al pasar el cursor */
}

.share-buttons {
  margin-top: 20px;
  display: flex;              /* Usar flexbox para alinear horizontalmente */
  justify-content: center;    /* Centrar horizontalmente */
}

.share-buttons button {
  background-color: #d18f4f; /* Color café claro para los botones de compartir */
  color: white;              /* Color del texto */
  padding: 10px 15px;        /* Espaciado interno */
  border: none;              /* Sin borde */
  border-radius: 5px;       /* Bordes redondeados */
  cursor: pointer;           /* Cambiar cursor al pasar */
  margin: 0 10px;           /* Espacio horizontal entre botones */
  display: flex;             /* Usar flexbox para alinear ícono y texto */
  align-items: center;       /* Centrar verticalmente */
  transition: background-color 0.3s; /* Suave transición de fondo */
}

.share-buttons button:hover {
  background-color: #b37639; /* Café más oscuro al pasar el cursor */
}

.share-buttons button svg {
  margin-right: 5px;         /* Espacio entre ícono y texto */
}
