.navbar {
  background-color: #42b72a; /* Color de fondo */
  padding: 1rem;
}

.navbar-list {
  display: flex;
  justify-content: space-around; /* Espacio uniforme entre los elementos */
  list-style: none; /* Sin viñetas */
  margin: 0; /* Sin margen */
  padding: 0; /* Sin padding */
}

.navbar-item {
  font-size: 1.2rem; /* Tamaño de fuente */
}

.navbar-item a {
  color: white; /* Color del texto */
  text-decoration: none; /* Sin subrayado */
  padding: 0.5rem 1rem; /* Padding alrededor del enlace */
  transition: background-color 0.3s; /* Transición suave para el fondo */
}

.navbar-item a:hover {
  background-color: #36a420; /* Color de fondo al pasar el ratón */
  border-radius: 4px; /* Bordes redondeados */
}
