.perro-visto-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.perro-visto-card {
  margin: 5px;
  background-color: rgba(76, 175, 80, 0.1); /* Verde primario con transparencia */
  display: flex;
  width: 75vw;
  min-width: 4rem;
  max-width: 80vw;
  height: 8rem;
  border-radius: 20px;
  transition: all 0.3s ease;
  border: 1px solid rgba(76, 175, 80, 0.2);
}

.perro-visto-foto {
  max-width: 14rem;
  height: 8rem;
  max-height: 8rem;
  border-radius: 20px;
  object-fit: cover;
}

.perro-visto-card:hover {
  cursor: pointer;
  transform: scale(1.01);
  box-shadow: 0 4px 12px rgba(76, 175, 80, 0.15);
  border: 1px solid rgba(76, 175, 80, 0.3);
}

.perro-visto-informacion {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 5px;
  color: #388E3C; /* Verde oscuro para el texto */
}

@media (max-width: 1100px) {
  .perro-visto-card {
    min-width: 90vw;
    max-width: 95vw;
    font-size: 0.8rem;
  }
  
  .perro-visto-foto {
    max-width: 30%;
    min-width: 30%;
  }
}


.loading-message {
  position: fixed;  
  top: 50%;         
  left: 50%;        
  transform: translate(-50%, -50%); 
  display: flex;    
  justify-content: center; 
  align-items: center; 
  z-index: 9999;    
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
